.wrap {
  width: 100%;
  background-color: #f2f3f5;
  min-height: calc(100vh - 50px);
  padding-top: 60px;

  .content {
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(90deg, rgba(60, 10, 30, .04) 3%, transparent 0), linear-gradient(1turn, rgba(60, 10, 30, .04) 3%, transparent 0) !important;

    pre {
      background-color: #f4f0ee;
      border-radius: 8px;
      padding: 20px 16px;
      margin: 20px 0;

      code {
        word-break: break-all;
        width: 100%;
      }
    }
  }
}

.others {
  position: fixed;
  left: 3%;
  top: 200px;
  width: 50px;
  height: fit-content;

  img {
    width: 30px;
    height: 30px;
  }

  .common {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #fff !important;
    cursor: pointer;
    position: relative;
  }


  .watch {
    .common()
  }


  .like {
    margin-top: 20px;
    .common()
  }

  .comment {
    margin-top: 20px;
    .common()
  }

}

.after {
  text-align: center;
  line-height: 20px;
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  right: 0;
  top: 0;
  border: 1px solid #fff;
  color: #fff;
}

.listItem {
  margin: 10px;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.itemName {
  color: var(--juejin-font-2);

}

.itemContent {
  color: var(--juejin-font-1);
}

.itemTime {
  color: var(--juejin-font-2);
}